
:root{
    --color-banner:#F5F5F5;
}



html{
    font-size: 62.5%;
    font-family: monospace;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow:auto;
    

}
img{
    max-width:100%;
}
 .container-navs{
    position:fixed;
    z-index:10000000;
    height:20vh;
    width:100%;

}
.nav-up{
 
    display:flex;
    justify-content:center;
    align-items:center;
    height:8vh;
    margin:0 auto;
    background:var(--color-banner);
    border: 1px solid #b2e1f5;
    
}
.nav-up-left{
    width:100%;
}
.container-nav-up{
    width:85%;
   
    display:flex;
    align-items:center;
    justify-content: space-between;
    z-index:10;

}

.nav-up-right{
    display:flex;
    align-items:center;
    justify-content:space-around;
    color:#575861;
    font-size:2.5rem;

}
@media (max-width: 768px){
    .nav-up-right{
        display:none;
    }
}

.link{
    min-width:50%;
    margin:0 3rem;
    color:#575861;
    font-size:2rem;
}
.link:first-of-type{
    margin:inherit;
}
.nav-up-responsive{
    display:none;
}
@media (max-width: 768px){

    .nav-up-responsive{
        display:flex;
        justify-content:space-evenly;
        height:3rem;
        width:50%;
    }
    .link-responsive-up{
        
        height:3rem;
    
    }
    .img-link{
        
        height:3rem;
        width:3rem;
        object-fit:cover;
    }
}
.nav-down{
    height:14vh; 
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:rgb(199, 195, 195);
    box-shadow: 0px 4px 5px 0px rgba(237, 232, 232, 0.75);
    
    
}
.container-nav-down{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:85%;
    height:100%;
    margin: 0 auto;
}
.nav-down-left{
    width:12rem;
}
.nav-down-right{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:40%;
    height:4vh;
    padding:0;
    
 
}
@media (max-width: 768px){
    .nav-down-right{
        border: 1px solid rgb(39, 125, 95);
        background:#ffffff;
        display:none;
        position:absolute;
        margin-top:63rem;
        width:80%;
        height:45rem;    
        padding:4rem; 
        overflow-y:auto;
    }
    .li{
        height:100%;
        overflow:hidden;
        padding:10px;
        background:#b2aab2;
    }
    .menu-drop{
        color:green;

    }
    .content-menu-drop{
        position:absolute;
        padding:0px;
        background:#fff;
        height:0;
        left:0;
        overflow:hidden;
        transition:0.5s;
        overflow-y:hidden;
        

    }
    .img-menu-drop{
        display:non;
    }
    .link-2{
        border-top:1px solid #2c20d0;
    }
}

.ham{
    display:none;
 }
 

@media (max-width: 768px){

    .ham{
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
    display:block;
    cursor:pointer;
    position: absolute; 
    right:25px;
    transition: 0.2s  0.1s; 
    }
    /*  */
}
.br{
     background-color: #2D91CE;
        display:block;
        height:3px;
        width: 28px;
        margin:10px auto;
        border-radius:2px;    
    }


.li{
    list-style:none;
 
  
}
.link-2{    
    display:block;
    text-decoration:none;
    font-size:2.2rem;
    color:#575861;
    text-transform:capitalize;
    margin:0;
    height:11rem;
    display:flex;
    align-items:center;
  


}
.link-2:hover {
    box-shadow:0 4px  #b2e1f5;
    transition:.5s;
    cursor:pointer;
    position:relative;
   
    z-index:100;
    transition:.3s;
 

}


.menu-drop{
    background:rgba(254, 254, 254);
    width:100%;
    border-top:4px solid #000;
    left:0;
    opacity:0;
    
    position:absolute;
    visibility:hidden;
   
   

}
.title-main-drop{
    padding:2rem 0 0 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:3rem;

}
.container-menu-drop{
    width:80%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3rem;
    margin:0 auto;
   
    
    
}
.content-menu-drop{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:30vh;
    width:100%;
    
}
@media (max-width: 768px){
    .menu-drop{
        height:100%;
    }
    .container-menu-drop{
       
        background:#b2e1f5;
        height:0;
        width:100%;
        padding:0;
        overflow:auto;
        
    }
    .content-menu-drop{
        position:relative;
        
        height:0;
        width:100%;
        
    }
  
}

.title-main-drop{
    text-align:center;
    color:#000;
    margin:3rem 0;
    padding:0;
}
.img-menu-drop{
    height:14rem;
  
}
.paragraph-menu-drop{
    color:#000


}
.li:hover .menu-drop{
    opacity:1;
    visibility:visible;
    transition:all 1s ease;
    
    
}

.container-hero{
       
   
    height:auto;
    background-image:url("https://picsum.photos/200/300?random=1");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    height:80vh;
    padding-top:20vh;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.container-title{
    height:4rem;
    position:absolute;
    margin:0;
   
   
}
.title-hero{
    color:#fff;
    font-size:20rem;
    margin:0;
    letter-spacing: 5rem;
    

}
.subtitle-hero{
    font-size:3rem;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;

}
@media (max-width: 768px){
    .container-hero{
        border: 1px solid red;
    }
    .container-title{
      
        width:100%;
    }
    .title-hero{
        
        font-size: 4rem;
    }
    .subtitle-hero{
        font-size:2.5rem;
    }
}
.section-main{
    height:100vh;
    background-color:#F5F5F5;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:8rem 0;
}
.video{
    height:80vh;
    background:#838292;
}
.title-video{
    color:#575861;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size:2rem;
    font-weight:100;
    margin-top:6rem;
}
@media (max-width: 768px){
    .section-main{
        padding:2rem;
    }
    .video{
        width:95%;
    }
    .title-video{
        text-align:center;
    }
}
.section-carrousel{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:relative;
    z-index:0; 
}

 .title-swiper{
     font-size:2.5rem;
     margin:6rem 0;
 }
.swiper {
    width: 80%;
    height: 300px;
  }
  
.swiper-slide{
    color:rgb(149, 80, 80);
    width:500px;
    height:500px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.container-slide{
    position:relative;
    z-index:3;
    height:100%;
    
}
.img-carrousel{
    height:30rem;
    object-fit:cover;
}
@media (max-width: 768px){
    .section-carrousel{
        width:80%;
        margin:0 auto;
    }
    .title-swiper{
        text-align:center;
    }
}


.section-images{
    height:100%;
}
.container-section-images{
    display:flex;
    justify-content:center;
    align-items:center;
    margin:100px 0;
 
    
}



.container-img{
    height:100%;
    position:relative;
    transition:2s;
   
    
}
.container-img:nth-child(1){
  
  
    background:url("https://picsum.photos/200/300?random=10"),#0c9bd7;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    background-blend-mode:screen;
    
 }
 .container-img:nth-child(2){
     
     background:url("https://picsum.photos/200/300?random=11"),rgba(4, 50, 148,1);
     background-repeat:no-repeat;
     background-position:center center;
     background-size:cover;
     background-blend-mode:screen;
 
 }
 .container-img:nth-child(3){
     
     background:url("https://picsum.photos/200/300?random=12"),#EC2E84;
     background-repeat:no-repeat;
     background-position:center center;
     background-size:cover;
     background-blend-mode:screen;
 
    
 }


.container-img:nth-child(1):hover{
    background:rgba(13, 157, 162,1);
   
    
}
.container-img:nth-child(2):hover{
    background:rgba(4, 50, 148,1);
    transition:3s;
    
}
.container-img:nth-child(3):hover{
    background:#EC2E84;
    
}
.img-images{
    height:60rem;
    width:60rem;
    object-fit:cover;
    
}
.title-images{
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:4rem;
 
}
@media (max-width: 768px){
    .container-section-images{
        flex-direction:column;
    }
}
.section-learn{
    height:100%;

}
.container-learn{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0 10rem;
    height:40vh;
    background:#fff;

}
.title-learn{
    font-size:2.2rem;
    color:#575861;
    letter-spacing:.5rem;
    text-align:center;
    margin:1rem 0;
    

}
.button-learn{
    text-decoration:none;
    font-size:2.4rem;
    margin:5rem 0;
    border:1px solid rgba(4, 50, 148,1);
    border-radius: 5px;
    padding:1rem 2rem;
    color:rgba(4, 50, 148,1);
}
.footer{
    height:100%;
    background:#F5F5F5;
}
.container-footer{
    height:50vh;
    padding: 2rem;
    display:flex;
    justify-content:space-between;
    align-items:center;

}
.contain-footer{
    text-align:center;
    text-transform:uppercase;
    font-size: 2.4rem;
    font-style:normal;
    color:#838292;
    height:80%;
    width:100%;
    margin:3rem 3rem 0 3rem;

}
.nav-footer{
    background:#FFf;
    height:100%;
    width:100%;
}
.nav-footer{
    height:12vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.link-footer{
    text-decoration:none;
    text-transform:uppercase;
    font-size:1.8rem;

    margin:0 5rem;

}
.bar-footer{
    height:12vh;
    background:#f5f5f5;
}
@media (max-width: 768px){
    .container-footer{
        flex-direction:column;
    }
}
 .shoping-cart{
    height:4rem;
    padding:1rem;
    border-radius: 6px;
    border:1px solid #2D91CE;
    position:fixed;
    top:60rem;
    right:10rem;
    display:inline-block;
    background:#ffffff
    
}
.img-cart{
    height:4rem;
    width:4rem;
    object-fit:cover;
}
.social-media{
    
    height:4rem;
    border-radius: 4px;
    position:fixed;
    display:inline-block; 
}

.img-social{
    margin:0;
    height:2rem;
    width:2rem;
    object-fit:cover;
    border-radius:0 3px 3px 0;
    border:1px solid #575861;
    padding:1rem;
    
}
.link-social{
  margin:0;
  padding:0;
  height:2rem;
}
.fb{
    bottom:1rem;
    left:0;
    
}
.tw{
    bottom:5.5rem;
    left:0;
    
}  



/* Accordion */
@media (max-width:768px){

    .accordion{
        max-width:800px;
        background:rgb(255, 255, 255);
        border:1px solid #2D91CE;
        
}
.contentBx{
    position:relative;
    margin:10px 20px;
    
}
.label{
    position:relative;
    padding:10px;
    background:#ffffff;
    color:rgb(0, 0, 0);
    cursor:pointer;
}
.label::before{
    content:"+";
    position:absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}
.contentBx.active .label::before{
    content:"-"; 
}
.content{
    position:relative;
    padding:0px;
    background:#fff;
    height:0;
    overflow:hidden;
    transition:0.5s;
    overflow-y:auto;
    
}
.contentBx.active .content{
    height:100%;
    overflow:hidden;
    padding:10px;
}

}